.blog {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    @include margin-bottom(60, 20);

    @include width(170, 85);
    @include height(170, 85);
  }

  &__title {
    margin-bottom: 20px;

    font-family: 'Open Sans', sans-serif;
    @include font(70, 40);
  }

  &__description {
    @include margin-bottom(60, 20);
    
    @include width(1050, 300);
  
    font-family: 'Rubik', sans-serif;
    @include font(20, 16);
    @include line-height(36, 26);
    text-align: center;
    color: #9899c5;
  }

  &__form {
    padding: 10px 10px 10px 51px;
    @include margin-bottom(148, 75);

    @include width(730, 300);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #f8faff;
    border-radius: 60px;

    @media (max-width: 769px) {
      padding: 10px;

      flex-direction: column;

      background-color: transparent;
    }
  }

  &__input {
    @include width(500, 200);

    font-family: 'Rubik', sans-serif;

    background-color: transparent;
    border: none;
    outline: none;

    &::placeholder {
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      color: #9698bd;
    }

    @media (max-width: 769px) {
      padding: 20px 40px;
      margin-bottom: 20px;

      background-color: #f8faff;
      border-radius: 40px;
    }
  }

  &__btn {
    @include padding-right(50, 25);
    @include padding-left(50, 25);

    @include width(230, 150);
    @include height(60, 40);

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0.25turn, #2d0397, #f962a9);
    border-radius: 50px;
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    @include font(12, 10);
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
