.header {
  position: relative;

  font-family: 'Open Sans', sans-serif;
  color: #1f2047;

  &__bg {
    @include width(1377, 688.5);
    @include height(1420, 710);

    position: absolute;
    right: 0;

    z-index: -1;
  }

  &__nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__nav-first-sub-container {
    width: 98%;
    height: 20px;

    background-color: #fff;
    box-shadow: 0 8px 16px rgba(23, 23, 163, 0.1);

    opacity: 0.4;
  }

  &__nav-second-sub-container {
    width: 96%;
    height: 20px;

    background-color: #fff;
    box-shadow: 0 8px 16px rgba(23, 23, 163, 0.1);

    opacity: 0.2;
  }

  &__content {
    @include margin-top(230, 115);
    @include margin-bottom(300, 150);

    @include width(726, 300);

    @media (max-width: 769px) {
      margin-right: auto;
      margin-left: auto;

      text-align: center;
    }
  }

  &__title {
    @include margin-bottom(50, 25);

    @include font(70, 40);
    font-weight: bold;
    @include line-height(90, 45);
  }

  &__description {
    @include margin-bottom(50, 25);

    font-family: 'Rubik', sans-serif;
    @include font(30, 16);
    @include line-height(50, 25);
    color: #9899c5;
  }

  &__btns {
    display: flex;
  }

  &__btn {
    @include padding-right(50, 25);
    @include padding-left(50, 25);
    @include margin-right(40, 20);

    @include height(60, 40);

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0.25turn, #2d0397, #f962a9);
    border-radius: 50px;

    transition: text-shadow .3s, box-shadow .3s, transform .3s;

    &:hover {
      text-shadow:0 0 30px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);
      box-shadow: 0 8px 16px rgba(249, 98, 169, 0.3);

      transform: scale(1.01);

      cursor: pointer;
    }
  }

  &__btn_white {
    background: #fff;
    border: 2px solid #f0f0f0;
  }

  &__link {
    @include font(14, 7);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
  }

  &__link_white {
    color: #a4a5cd;
  }
}
