.nav {
  margin-top: 50px;
  padding: 30px 50px;

  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Open Sans', sans-serif;

  background-color: #fff;
  box-shadow: 0 8px 16px rgba(23, 23, 163, 0.1);

  &__logo-container {
    margin-right: 60px;
  
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 10px;

    width: 40px;
    height: 40px;
  }

  &__logo-text {
    width: 40px;

    @include font(20, 12);
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;

    list-style: none;
  }

  &__link {
    margin-right: 40px;

    font-family: 'Rubik', sans-serif;
    @include font(14, 12);
    font-weight: 500;

    text-decoration: none;
    text-transform: uppercase;
    color: #e5e6ed;
  }

  &__options {
    display: flex;
    align-items: center;

    @media (max-width: 1471px) {
      display: none;
    }
  }

  &__dropdown {
    margin-right: 40px;

    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #d8dbea;
  
    border: none;
    outline: none;
  }

  &__dropdown-item {
    color: #d8dbea;
    background-color: #fff;
  }

  &__wallet-btn {
    width: 200px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0.25turn, #2d0397, #f962a9);
    border-radius: 50px;
  }

  &__wallet-btn-text {
    text-decoration: none;
    text-transform: uppercase;
    @include font(14, 12);
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
  }
  
  /*<1470 styles*/
  &__wallet-container {
    @media (max-width: 1470px) {
      width: 40px;
      height: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(0.25turn, #2d0397, #f962a9);
      border-radius: 50%;
    }
  }

  &__wallet-ico {
    width: 16px;
    height: 16px;
  }
}
