.nav {
  @include margin-top(50, 25);
  @include padding-top(30, 20);
  @include padding-right(50, 40);
  @include padding-bottom(30, 20);
  @include padding-left(50, 40);


  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Open Sans', sans-serif;

  background-color: #fff;
  box-shadow: 0 8px 16px rgba(23, 23, 163, 0.1);

  @media (max-width: 769px) {
    display: none;
  }

  &__logo-container {
    @include margin-right(60, 30);
  
    display: flex;
    align-items: center;
  }

  &__logo {
    @include margin-right(10, 6);

    @include width(40, 20);
    @include height(40, 20);
  }

  &__logo-text {
    @include width(40, 20);

    @include font(20, 12);
    font-weight: 600;
    @include line-height(20, 10);
    text-transform: uppercase;
  }

  &__list {
    display: flex;

    list-style: none;
  }

  &__link {
    @include margin-right(40, 20);

    font-family: 'Rubik', sans-serif;
    @include font(14, 8);
    font-weight: 500;

    text-decoration: none;
    text-transform: uppercase;
    color: #e5e6ed;

    transition: all .3s;

    &:hover {
      color: #1f2047;
      transform: scale(1.01);

      cursor: pointer;
    }
  }

  &__options {
    display: flex;
    align-items: center;

    @media (max-width: 1471px) {
      display: none;
    }
  }

  &__dropdown {
    @include margin-right(40, 20);

    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #d8dbea;
  
    border: none;
    outline: none;
  }

  &__dropdown-item {
    color: #d8dbea;
    background-color: #fff;
  }

  &__wallet-btn {
    @include width(200, 100);
    @include height(60, 30);

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0.25turn, #2d0397, #f962a9);
    border-radius: 50px;

    transition: text-shadow .3s, box-shadow .3s, transform .3s;

    &:hover {
      text-shadow:0 0 30px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);
      box-shadow: 0 8px 16px rgba(249, 98, 169, 0.3);

      transform: scale(1.01);

      cursor: pointer;
    }
  }

  &__wallet-btn-text {
    text-decoration: none;
    text-transform: uppercase;
    @include font(14, 12);
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
  }
  
  /*<1470 styles*/
  &__wallet-container {
    @media (max-width: 1470px) {
      @include width(40, 20);
      @include height(40, 20);

      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(0.25turn, #2d0397, #f962a9);
      border-radius: 50%;
    }
  }

  &__wallet-ico {
    @include width(16, 8);
    @include height(16, 8);
  }
}
