.platform {
  @include margin-bottom(200, 100);

  display: flex;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;

    @media (max-width: 769px) {
      grid-template-columns: 1fr;
      grid-row-gap: 70px;
    }
  }

  &__item {
    @include height(650, 325);

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      .platform__card {
        @include top(-10, -60);

        cursor: pointer;
      }

      .platform__img {
        border-radius: 50px;
        box-shadow: 0 8px 32px rgba(45, 3, 151, 0.4);

        transform: scale(0.94);
      }
    }
  }

  &__item--2 {
    @include margin-top(50, 25);

    @media (max-width: 769px) {
      margin-top: 0;
    }
  }

  &__item--4 {
    @include margin-top(50, 25);

    @media (max-width: 769px) {
      margin-top: 0;
    }
  }

  &__img {
    @include width(540, 270);

    transition: box-shadow .3s, transform .3s;
  }

  &__card {
    @include padding-top(50, 25);
    @include padding-right(50, 25);
    @include padding-left(50, 25);

    @include width(464, 232);

    position: absolute;
    @include top(380, 190);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

    transition: top .3s;
  }

  &__title {
    @include margin-bottom(20, 10);

    align-self: start;

    font-family: 'Rubik', sans-serif;
    @include font(14, 10);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #c6c6df;
  }

  &__description {
    @include margin-bottom(50, 25);

    align-self: start;

    font-family: 'Open Sans', sans-serif;
    @include font(32, 16);
    font-weight: bold;
    @include line-height(40, 20);
    color: #1f2047;
  }

  &__frame {
    @include width(464, 232);
    @include height(10, 5);

    background: linear-gradient(0.25turn, #2d0397, #f962a9);
  }
}
