.roadmap {
  @include margin-bottom(300, 150);

  @media (max-width: 1458px) {
    &__line-img {
      display: none;
    }

    &__paper-plane {
      display: none;
    }

    &__line {
      @include margin-top(100, 50);
  
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 50px;
    }

    &__item {
      position: static !important;

      display: flex;
      flex-direction: column;
    }

    &__item-circle-wrapper {
      @include margin-bottom(30, 20);

      align-self: center;
    }

    &__item-info {
      align-self: center;
      
      text-align: center;
    }

    &__item-info--1, &__item-info--2 {
      margin-left: 0 !important;
    }

    &__item-info--3 {
      margin-top: 0 !important;
    }
  }

  @media (max-width: 882px) {
    &__line {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }
  }

  &__container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__circle-pit {
    @include width(525, 262);
    @include height(460, 230);

    position: absolute;
    top: 16px;
    left: 300px;

    z-index: -1;

    animation: 14s linear 0s infinite normal circle;

    @media (max-width: 769px) {
      left: 100px;
    }
  }

  &__subtitle {
    @include margin-bottom(30, 15);

    font-family: 'Rubik', sans-serif;
    @include font(16, 10);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #c2b6dc;
  }

  &__title {
    margin: 0 auto;

    @include width(736, 300);

    font-family: 'Open Sans', sans-serif;
    @include font(50, 25);
    font-weight: bold;
    @include line-height(60, 30);
    text-align: center;
    color: #1f2047;
  }

  &__line {
    position: relative;
  }

  &__line-img {
    @include width(1491, 750);
    @include height(648, 324);
  }

  &__paper-plane {
    position: absolute;
    @include top(-10, -5);
    @include right(-42, -21);
  }

  &__item {
    position: absolute;

    display: flex;
  }

  &__item--1 {
    @include bottom(-20, -10);
    @include left(-40, -20);
  }

  &__item--2 {
    @include bottom(80, 40);
    @include left(650, 325);
  }

  &__item--3 {
    @include top(20, 10);
    @include right(-56, -28);

    flex-direction: column;
  }

  &__item-circle-wrapper {
    position: relative;
  }

  &__item-circle {
    @include width(126, 63);
    @include height(126, 63);

    animation: 14s linear 0s infinite normal circle;
  }

  &__item-circle-ico {
    @include width(34, 17);
    @include height(35, 17.5);

    position: absolute;
    @include top(44, 22);
    @include left(44, 22);
  }

  &__item-info {
    @include width(340, 170);
  }

  &__item-info--1 {
    @include margin-left(40, 20);
  }

  &__item-info--2 {
    @include margin-left(40, 20);
  }

  &__item-info--3 {
    @include margin-top(40, 20);
  }

  &__item-title {
    @include margin-bottom(16, 8);
  
    font-family: 'Open Sans', sans-serif;
    @include font(32, 16);
    font-weight: bold;
    @include line-height(40, 20);
    color: #1f2047;
  }

  &__item-description {
    font-family: 'Rubik', sans-serif;
    @include font(16, 14);
    @include line-height(26, 18);
    color: #8081af;
  }
}

@keyframes circle {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
