.team {
  @include margin-bottom(76, 37);

  display: flex;
  align-items: center;

  @media (max-width: 1370px) {
    flex-direction: column;
  }

  &__btn {
    @include padding-right(50, 25);
    @include padding-left(50, 25);
    @include margin-left(110, 55);

    @include height(60, 40);

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0.25turn, #2d0397, #f962a9);
    border-radius: 50px;

    @media (max-width: 1370px) {
      margin: 0 auto;
    }

    transition: text-shadow .3s, box-shadow .3s, transform .3s;

    &:hover {
      text-shadow:0 0 30px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.7);
      box-shadow: 0 8px 16px rgba(249, 98, 169, 0.3);

      transform: scale(1.01);

      cursor: pointer;
    }
  }

  &__link {
    font-family: 'Rubik', sans-serif;
    @include font(14, 12);
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
