.token {
  @include margin-bottom(220, 110);

  &__container {
    @include margin-left(700, 350);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1364px) {
      margin: 0 auto;

      align-items: center;
      justify-content: center;
    }
  }

  &__btn-wrapper {
    @include margin-bottom(60, 30);

    @include width(120, 60);
    @include height(120, 60);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f9f1fc;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }

  &__btn {
    @include width(96, 48);
    @include height(96, 48);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }

  &__btn-ico {
    width: 13px;
    height: 13px;
  }

  &__description {
    @include width(824, 300);

    font-family: 'Open Sans', sans-serif;
    @include font(46, 24);
    font-weight: bold;
    color: #1f2047;

    @media (max-width: 1364px) {
      text-align: center;
    }
  }
}
